body {
    background-color: #ffffff;
    padding-top: 70px;
    padding-bottom: 50px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand {
    height: 40px;
    padding-top: 10px;
}
.navbar {
    min-height: 40px;
}
.navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-o-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#refresh {
    animation:spin 2s infinite;
    -moz-animation:spin 2s infinite; /* Firefox */
    -webkit-animation:spin 2s infinite; /* Safari and Chrome */
    -o-animation:spin 2s infinite; /* Opera */
}
.rating-bar{
    width:400px;
    height:15px;
    margin-bottom:14px;
    margin-top:14px;
    margin-right:5px;
    border:0;
    border-Radius:0;
}
.rating-label{
    height:15px;
    margin-bottom:14px;
    margin-top:14px;
    border:0;
    text-align: center;
}
.thumbnail-sm{
    width:300px;
}
#thumb-div{
    float:left;
}
#rating-bar-div{
    float:right;
}
